.main {
  padding: 0;
  margin: 0;
  background-color: rgb(65, 66, 66);
  color: azure;
}

section {
  display: grid;
  min-height: 100vh;
  align-content: center;
  place-items: center;
}

.hidden {
  opacity: 0;
  transition: all 1s;
  transform: translateX(-100%);
  filter: blur(5px);
}

.show {
  opacity: 1;
  transition: 2s;
  transform: translateX(0);
  filter: blur(0);
}

@media (prefers-reduced-motion) {
  .show {
    transition: none;
  }
}
